/*
  Accubid Enterprise Item Update - Egan Price Book Automation
  Main Stylesheet
  Jessica Hart - 2018-05
*/

//**** MIXINS ****//
@import 'helpers.scss';

//**** COLORS ****//
$c-eganblue: #1d428a;

$md-red-dark: #c0392b;
$md-org-dark: #d35400;
$md-yel-dark: #f39c12;
$md-grn-dark: #27ae60;
$md-tel-dark: #16a085;
$md-blu-dark: #2980b9;
$md-pur-dark: #8e44ad;

$md-red-lite: #e74c3c;
$md-org-lite: #e67e22;
$md-yel-lite: #f1c40f;
$md-grn-lite: #2ecc71;
$md-tel-lite: #1abc9c;
$md-blu-lite: #3498db;
$md-pur-lite: #9b59b6;

$md-wht:      #ecf0f1;
$md-gry-lite: #bdc3c7;
$md-gry-mid:  #95a5a6;
$md-gry-dark: #7f8c8d;
$md-blk-lite: #34495e;
$md-blk-dark: #2c3e50;

$md-wht-dark: lighten($md-gry-lite, 50%);

//**** USED COLORS ****//
//backgrounds $cb
$cb-body: $md-wht;
$cb-header: $c-eganblue;
$cb-drop: $md-gry-lite;
$cb-console: $md-blk-dark;
$cb-actions: $md-gry-lite;
$cb-heuristic: $md-wht-dark;

//borders $cd
$cd-drop: 3px dashed $md-blk-lite;

//text $ct
$ct-text: $md-blk-dark;
$ct-title: $md-wht;
$ct-console: $md-wht;
$ct-drop: $md-wht-dark;
$ct-dropsub: $md-gry-dark;
$ct-heuristic: $md-blk-dark;

//links $cl
$cl-link: $md-blu-dark;
$cl-hover: lighten($cl-link, 25%);

//**** SIZES ****//
$s-text: 14px;
$s-h1: 24px;
$s-h2: 18px;
$s-h3: 16px;
$s-title: $s-h1;
$s-footer: 12px;
$s-drop: 36px;

//**** TEXT ****//
h1 { font-size: $s-h1; }
h2 { font-size: $s-h2; }
h3 { font-size: $s-h3; }
h1,h2,h3 {
  &:not(:first-child) {
    margin-top: 15px;
  }
  margin-bottom: 5px;
}

//**** PAGE BLOCKS ****//
body {
  background-color: $cb-body;
  font-size: $s-text;
}

.row {
  margin-top: 0.5em;
  padding: 1em;
}

.header { //Title
  background-color: $cb-header;
  h1 {
    color: $ct-title;
    font-size: $s-title;
  }
}

.inputs {
  #drop { //DROP FILE HERE
   background-color: $cb-drop;
   border: $cd-drop;
   color: $ct-drop;
   font-weight: bold;
   font-size: $s-drop;
   text-align: center;
   line-height: 1.5;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
  } 

  .dropsub {
    color: $ct-dropsub;
    text-align: center;
  }

  #heuristics { //list of found schemas
    ul {
      li {
        background-color: $cb-heuristic;
        color: $ct-heuristic;
        margin-bottom: 10px;
        padding: 5px;
      }
    }

    .check {
      font-weight: bold;
    }

    .source {
      font-weight: bold;
      color: $c-eganblue;
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    .filename {
      font-family: 'Courier New', Courier, monospace;
      color: $md-blk-lite;
      background-color: darken($cb-heuristic, 5%);
      padding: 0.25em 0.5em;
      margin-left: 0.5em;
    }
  }
}

.actions { //START and progress
  background-color: $cb-actions;

  .progress {
    margin-top: 0.33rem;
    margin-bottom: 0.25rem;
  }
  .progress-detail {
    color: $md-blk-lite;
  }
}

#progress {
  transition: none;
}

.console {
  padding: 0;
}

#console { //textarea
  background-color: $cb-console;
  color: $ct-console;
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  min-height: 10em;
  width: 100%;
  line-height: 1.25;
  overflow-y: scroll;

  &.expand {
    min-height: 25em;
    @include transition(min-height 1s ease 0s);
  }
}

.downloads {
  background-color: $cb-actions;
}